<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px">
    <header class="w3-container w3-light-grey w3-padding-16">
      <h3>My Shopping List</h3>
    </header>
    <ul class="w3-ul">
      <li ng-repeat="x in products" class="w3-padding-16">
        {{x}}
        <span ng-click="removeItem($index)" class="w3-right w3-margin-right" style="cursor:pointer">&times;</span>
      </li>
    </ul>
    <form name="myForm" class="w3-container w3-light-grey w3-padding-16">
      <div class="w3-row w3-margin-top">
        <div class="w3-col s10">
          <input type="type" name="addMe" placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding" required>
        </div>
        <div class="w3-col s2">
          <button type="submit" ng-click="addItem()" ng-disabled=myForm.addMe.$invalid class="w3-btn w3-border w3-padding w3-green">Add</button>
        </div>
      </div>
      <p class="w3-text-red">{{errortext}}</p>
    </form>
  </div>
</body>
</html>